@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Priori Sans';
  src: url('/fonts/PrioriSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
/* 
.dining-section__dining span.letter2::before {
  width: 2rem;
  height: 10rem;
  top: 44%;
  right: 4.8rem;
}

.dining-section__dining span.letter2::before, .dining-section__dining span.letter2::after {
  content: "";
  background: #1D1D1D;
  position: absolute;
}

.dining-section__dining span.letter1 {
  position: relative;
}

.dining-section__dining span {
  font-size: 35.7rem;
  color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  font-family: "Rankings Caps", "sans-serif";
  -webkit-text-stroke: 1px #fff;
} */

.visible {
  position: relative;
  -webkit-text-stroke: 2px #fff;
}

/* .letter2{
  color: black;
} */
 